<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<style>
	.el-upload-list__item{
		max-width: 205px;
	}
	.el-button{
		width: 120px;
	}
</style>
</head>

<body>
<div class="wrap"  id="goodsUpdateApp">
  <!-- main begin-->
    
 <el-form :model="goods" :rules="rules" ref="resetForm" label-width="100px" class="demo-ruleForm">
 	    <h1  style="text-align: center;height: 30px;    line-height: 30px; color: #E6A23C;">拍卖商品修改</h1>
  <el-form-item label="名称" prop="goodsname">
    <el-input style="width:300px;" v-model="goods.goodsname"></el-input>
  </el-form-item>
 
   <el-form-item label="起拍价" prop="goodsprice">
    						<el-input
    							style="width:300px;"
    maxlength="8"
    oninput="value=value.replace(/[^\d.]/g,'')"
    v-model="goods.goodsprice"
    placeholder="请输入价格"
clearable
  >
  </el-form-item>
   <el-form-item label="开始时间" prop="startdate">
    <el-date-picker type="datetime" placeholder="选择日期" v-model="goods.startdate" style="width:300px;"></el-date-picker>
  </el-form-item>
 <el-form-item label="结束时间" prop="enddate">
    <el-date-picker type="datetime" placeholder="选择日期" v-model="goods.enddate" style="width:300px;"></el-date-picker>
  </el-form-item>
  <el-form-item label="描述" prop="depict">
    <el-input style="width:300px;" type="textarea" v-model="goods.depict"></el-input>
  </el-form-item>
  

  <el-form-item prop="goodsImg">
  <div style="float: right;margin-top: -43ex;margin-right:35ex;">
  <el-upload
  class="upload-demo"
  action="https://jsonplaceholder.typicode.com/posts/"
  :on-preview="handlePreview"
  :on-remove="handleRemove"
  :file-list="fileList"
  :on-change="checkType"
  list-type="picture"
  	>
  <el-button size="small" type="primary">竞拍图片上传</el-button>
  <div slot="tip" class="el-upload__tip">只能上传jpg/png/jpeg文件，且不超过1.5M</div>
</el-upload>
  
  </div>
  </el-form-item>
  <el-form-item>
  	
    <el-button type="primary" @click="submitForm('resetForm')">提交</el-button>
    <el-button @click="resetForm('resetForm')">返回</el-button>
  </el-form-item>
</el-form>
</div>
</body>
<script>
	var Main={
    data() {
      return {
      	fileList:[],
      goods:{},
        rules: {
          goodsname: [
            { required: true, message: '请输入名称', trigger: 'blur' }
          ],
       /*   fileList: [
            { type: 'file', required: true, message: '请选择日期', trigger: 'change' }
          ], */
          startdate: [
            { required: true, message: '请选择日期', trigger: 'change' }
          ],
          enddate: [
            { required: true, message: '请选择时间', trigger: 'change' }
          ],
          goodsprice: [
            { required: true, message: '请输入起拍价格', trigger: 'blur' }
          ],
          depict: [
            { required: true, message: '请输入描述', trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
    	
    	/*图片操作*/
    	 handleRemove(file, fileList) {
      		this.fileList=[];
      },
      handlePreview(file) {
        console.log(file);
      },
      
      /*修改提交*/
      submitForm(formName) {
				let _this=this;
      		 this.$refs[formName].validate((valid) => {
          if (valid) {
          	 if(_this.fileList.length==0){
      		_this.$notify({
          title: '警告',
          message: '未选择图片',
          type: 'warning',
            offset: 100
        });
      	}else{
      		_this.goods.goodsimg=_this.fileList[0].url;
      	$.ajax('http://127.0.0.1:8080/paimai/api/goods/update',{
      		type:"put",
      		dataType:"json",
      		data:JSON.stringify(_this.goods),
      		contentType:"application/json",
      		success:function(data){
      			if(data!=0){
      				 _this.$message({
          message: '修改成功！',
          type: 'success'
        });
        setTimeout(row=>{
        	  $("#cnt").load("goodsGLiList.html")
        },500);
        
      			}
      		}
      	
      		
      	});      	
      		
      	/*	alert(JSON.stringify(_this.fileList))*/
      	}
          
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      		
      	
       
      },
      /*返回*/
      resetForm(formName) {
       $("#cnt").load("goodsGLiList.html")
      },
      /*图片格式判断*/
      checkType(file,fileList){
      	var base64;
      	let _this=this;
      	/*不管怎么选择 只能选一张*/
      	let fileType=file.name.substring(file.name.lastIndexOf('.')+1);
   		this.fileList=[];//清除之前的
      	
      	if(fileType =='jpeg' || fileType =='jpg' || fileType == 'png' || fileType =='JPEG' || fileType =='JPG' || fileType == 'PNG'){
      		//转换为base64
      		_this.getBase64(file.raw).then(res => {
 			//保存现在选择的图片
      	 _this.fileList.splice(0,0,file);
      	  //修改里面的url为base64
 		_this.fileList[0].url=res;
        });
       
      	}else{
      		
      	_this.fileList=[];
      	 _this.$notify.error({
          title: '错误',
          message: '图片格式错误',
          offset: 100
        });
      			return false;
      	}
      	
      	if(file.size / 1024 / 1024 >1.5 ){
      	_this.fileList=[];
      	 _this.$notify.error({
          title: '错误',
          message: '图片大小不能超过1.5M',
          offset: 100
        });
      				return false;
      	}


      },
       getBase64(file) {
        return new Promise(function(resolve, reject) {
          let reader = new FileReader();
          let imgResult = "";
          reader.readAsDataURL(file);
          reader.onload = function() {
            imgResult = reader.result;
          };
          reader.onerror = function(error) {
            reject(error);
          };
          reader.onloadend = function() {
            resolve(imgResult);
          };
        });
      }
 

    },
    mounted(){
    	let _this=this;
    	this.goods=JSON.parse(sessionStorage.getItem("goods"));

    	if(this.goods.goodsimg!=null){
    		_this.fileList.splice(0,0,
    			{
    				name:'',
    				url:_this.goods.goodsimg
    			}
    	)
    	}
    	
    }
  }
	var goodsUpdateApp=Vue.extend(Main);
			new goodsUpdateApp().$mount("#goodsUpdateApp")
</script>
</html>
